.table {
    width: 200px;
    border-collapse : collapse;
    border: 1px solid black;
    
}

.rowas{
  
    border-bottom: 1px solid black;
    height: 50px;
}
.headas{
    border-bottom: 1px solid black;
}

.table_data{
    text-align: center;
    border-right: 1px solid black;
}